# Student Scores Analysis

This notebook performs the following tasks:
1. Calculate and display the mean (average) score for all students.
2. Identify and print the highest score and the name of the student who achieved it.
3. Count the total number of students in the dataset.
4. Group the students by Subject and calculate the mean score per subject.
5. Visualize the distribution of scores using a histogram.
6. Identify students who scored below the average and suggest improvements.

In [1]:
# Import required libraries
import pandas as pd
import matplotlib.pyplot as plt

# Load the dataset
file_path = './student_scores_statistics.csv'
data = pd.read_csv(file_path)

# Display the first few rows of the dataset
data.head()

  Student_ID            Name           Subject  Score
0      S1000     Brian Weber           Science     78
1      S1001   Shannon Davis  Computer Science     70
2      S1002    Brent Pineda       Mathematics     63
3      S1003  Joseph Bennett       Mathematics     83
4      S1004     Gina Potter           English     59

## Question 1: Calculate and display the mean (average) score for all students

In [2]:
# Calculate the mean score
mean_score = data['Score'].mean()

# Display the mean score
print(f"Mean Score: {mean_score:.2f}")

Mean Score: 70.23

## Question 2: Identify and print the highest score and the name of the student who achieved it

In [3]:
# Find the row with the highest score
highest_score_row = data.loc[data['Score'].idxmax()]

# Extract the score and name of the student
highest_score = highest_score_row['Score']
highest_score_name = highest_score_row['Name']

# Display the highest score and student's name
print(f"Highest Score: {highest_score}, Name: {highest_score_name}")

Highest Score: 100, Name: Andrew Ellis

## Question 3: Count the total number of students in the dataset

In [4]:
# Count the unique student IDs
total_students = data['Student_ID'].nunique()

# Display the total number of students
print(f"Total Students: {total_students}")

Total Students: 100